.speech{ 
    font-family:cursive;
    font-size:12px;
    color:black;  
}
.direction{
    font-family:aries;
    font-size:10px;
    color:black;
    background-color: lightslategray;

}
.name{
    font-family:mono;
    font-size:17px;
    color:black;
}
.direction:hover{
    background-color: beige;
    color:blueviolet;
}
.Mme{
    color:green;
}
.Elmire{
    color:brown;
}
.Dorine{
    color:black;
}
.Damis{
    color:aqua
}
.Mariane{
    color:dimgray
}
table,th,td{
border-collapse: collapse;
border:solid black ;
color:rgb(41, 32, 49);
text-align: left;
padding:6px;
}
tr:nth-child(even) {
    background-color: rgb(43, 114, 185);
    margin: 2px;
    padding: 2px;
 }
 td,tr{
     width:100px;
     height: 100%;
 }

